services:
  selenium:
    image: selenium/standalone-firefox:133.0
    container_name: birdseyeapi_selenium
    ports:
      - 4444
    volumes:
      - /dev/shm:/dev/shm
    restart: unless-stopped
  go:
    image: golang:1.24
    container_name: birdseyeapi_go
    ports:
      - 8080:8080
    tty: true
    volumes:
      - .:/project
    restart: unless-stopped
    working_dir: /project
    environment:
      SELENIUM_URL: "http://selenium:4444/wd/hub"
      BIRDSEYEAPI_EXECUTION_MODE: "${BIRDSEYEAPI_EXECUTION_MODE}"
      OPENAI_CHAT_ENDPOINT: "https://api.openai.com/v1/chat/completions"
      OPENAI_API_KEY: "${BIRDSEYEAPI_V2_OPENAI_API_KEY}"
      OPENAI_MODEL: "${OPENAI_MODEL}"
      GO_API_PORT: "${GO_API_PORT}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      SCRAPING_ARTICLES: "${SCRAPING_ARTICLES}"
      AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID: "${AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID}"
      AWS_REGION: "${AWS_REGION}"
      AWS_ACCESS_KEY_ID: "${BIRDSEYEAPI_V2_AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${BIRDSEYEAPI_V2_AWS_SECRET_ACCESS_KEY}"
    entrypoint: ./go-entrypoint.sh
  nginx:
    image: nginx:1.27
    container_name: birdseyeapi_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/log:/var/log/nginx
    restart: unless-stopped
    tty: true
    ports:
      - 1111:1111
    depends_on:
      - go
  mysql:
    image: mysql:9.3
    container_name: birdseyeapi_mysql
    volumes:
      - db-store:/var/lib/mysql
      - ./logs:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD
    ports:
      - 3307:3306
    restart: unless-stopped
volumes:
  db-store:
