version: "3"
services:
  go:
    image: golang:1.24.2
    container_name: birdseyeapi_go
    ports:
      - 8080:8080
    tty: true
    volumes:
      - .:/project
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    restart: unless-stopped
    working_dir: /project
