services:

  selenium:
    image: selenium/standalone-firefox:133.0
    container_name: birdseyeapi_selenium
    ports:
      - 4444:4444
    volumes:
      - /dev/shm:/dev/shm
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      logging: "promtail"
      app_name: "selenium"

  go:
    image: golang:1.24
    container_name: birdseyeapi_go
    ports:
      - 8080:8080
    tty: true
    volumes:
      - .:/project
    restart: unless-stopped
    working_dir: /project
    environment:
      SELENIUM_URL: "http://selenium:4444/wd/hub"
      BIRDSEYEAPI_EXECUTION_MODE: "${BIRDSEYEAPI_EXECUTION_MODE}"
      BIRDSEYEAPI_V2_OPENAI_API_KEY: "${BIRDSEYEAPI_V2_OPENAI_API_KEY}"
      BIRDSEYEAPI_V2_CLAUDE_API_KEY: "${BIRDSEYEAPI_V2_CLAUDE_API_KEY}"
      GO_API_PORT: "${GO_API_PORT}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID: "${AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID}"
      AWS_REGION: "${AWS_REGION}"
      AWS_ACCESS_KEY_ID: "${BIRDSEYEAPI_V2_AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${BIRDSEYEAPI_V2_AWS_SECRET_ACCESS_KEY}"
    entrypoint: ./go-entrypoint.sh
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      logging: "promtail"
      app_name: "go"

  nginx:
    image: nginx:1.27
    container_name: birdseyeapi_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/log:/var/log/nginx
    restart: unless-stopped
    tty: true
    ports:
      - 1111:1111
    depends_on:
      - go
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      logging: "promtail"
      app_name: "nginx"

  mysql:
    image: mysql:9.3
    container_name: birdseyeapi_mysql
    volumes:
      - db-store:/var/lib/mysql
      - ./logs:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - 3307:3306
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      logging: "promtail"
      app_name: "mysql"

  loki:
    image: grafana/loki:3.3.2
    user: root
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:3.3.2
    user: root
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/config.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:11.4.0
    user: root
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${BIRDSEYEAPI_V2_GRAFANA_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/grafana-datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
    depends_on:
      - loki

volumes:
  db-store:
  loki-data:
  grafana-data:
